<div *ngIf="!(tiles.length === 0)">
    <mat-grid-list  [cols]="columns" rowHeight="100px" gutterSize="15px">
        <mat-grid-tile *ngFor="let tile of tiles;let i = index">
            <img *ngIf="tile.state === 'O'" class="img-responsive" src="/assets/img/O.jpg" alt="O" /> 
            <img *ngIf="tile.state === 'X'" class="img-responsive" src="/assets/img/X.jpg" alt="X" />
            <button *ngIf="tile.state === 'default'" 
                    [id]="'tile'+i"
                    (click)="onTileClick(tile.index)" 
                    mat-button 
                    matTooltip="Hint"
                    [matTooltipDisabled]="true"
                    matTooltipPosition="above"
                    #tile
                    ></button>     
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div *ngIf="tiles.length === 0">
    <h3 class="bg-danger">No grid created</h3>
</div>
<div>
    <app-game-log></app-game-log>
</div>
