<div class="well">
    <h4>First turn</h4>
    <mat-radio-group name="starter" [(ngModel)]="checkedStarter">  
        <mat-radio-button 
            name="computerRadioButton"
            value="computer">Computer</mat-radio-button>
        <br />
        <mat-radio-button 
            name="playerRadioButton" 
            value="player">Player</mat-radio-button>
    </mat-radio-group>
</div>
<div class="well">
    <h4>Game mode</h4>
    <mat-radio-group name="mode" [(ngModel)]="checkedMode">  
        <mat-radio-button 
             name="dumbAIRadioButton"
             value="dumb">Dumb AI</mat-radio-button>
        <br />
        <mat-radio-button 
            name="unbeatableAIRadioButton" 
            value="unbeatable"
            disabled="true">Unbeatable AI</mat-radio-button>
    </mat-radio-group>
</div>
<div class="well">
    <h4>Hints</h4>
    <mat-radio-group name="hints" [(ngModel)]="checkedHints">  
        <mat-radio-button 
             name="hintsOnRadioButton"
             value="on">On</mat-radio-button>
        <br />
        <mat-radio-button 
            name="hintsOffRadioButton" 
            value="off">Off</mat-radio-button>
    </mat-radio-group>
</div>
<div class="well">
    <h4>Localstorage</h4>
    <p>games count: {{ storedGamesCount }}</p>
    <mat-radio-group name="localstorage" [(ngModel)]="checkedLocalstorage">  
        <mat-radio-button 
             name="SaveOnRadioButton"
             value="on">On</mat-radio-button>
        <br />
        <mat-radio-button 
            name="SaveOffRadioButton" 
            value="off">Off</mat-radio-button>
    </mat-radio-group>
    <div>
        <button *ngIf="!startedReplay" mat-raised-button color="primary" (click)="replaySavedGames()" [disabled]="storedGamesCount === 0">replay</button>
        <button *ngIf="startedReplay" mat-raised-button color="primary" (click)="stopReplay()" >stop</button>    
        <button mat-raised-button color="warn" (click)="clear()" [disabled]="storedGamesCount === 0">Clear</button>
    </div>
</div>
<div class="well btn-group">
    <button mat-raised-button color="primary" (click)="startGame()">Start</button>
    <button mat-raised-button color="warn" (click)="reset()">Reset</button>
</div>

